@import "./variables_and_Function";


@media (max-width: 1158px){
html{
    // font-size:70%;
    @include modernScrollbar();
    overflow-x: hidden;
}
.Home{
  .main-part-1-left{
     flex: 1.2;
  }
  .main-part-2-right-detail{
    transform: translateY(40px);
  }

  .main-part-2-right-cards{
    clear: left;
  }
}
.Chat{
  .main{
    &-part-left{
      flex: 1.9;
    }
    &-part-right{
      &-dm-p{
        .main-part-right-dm-msg{
          flex-basis: 75%;
        }
      }
    }
  }
}
#set-footer-in-about{
  width: 100%;
  margin-top: 0vh;
}
}


@media (max-width: 1000px){
  html{
    font-size:60%;
    @include modernScrollbar();
    overflow-x: hidden;
}
.Chat{
  .main{
    &-part-right{
      &-dm-p{
        .main-part-right-dm-msg{
          flex-basis: 80%;
        }
      }
    }
  }
}
.About{
  height: 92.5vh;
  }
}



@media (max-width: 825px){
    *{
      cursor: unset !important;
    }
    html{
        font-size:55%;
        @include modernScrollbar();
        overflow-x: hidden;
    }
    #root{
      overflow-x: hidden;
    }
    .Home{
        padding: 2rem 2rem 0;
        .main{
          .main-part-1-left{
              flex: 1.2;
          }
          .main-part-2{
             &-right{
               .main-part-2-left-img{
                 height: 40rem;
                 width: 40rem;
               }
             }
          }
        }
    }
    .navbar-child-2{
        display: none !important;
      }
    .navbar-items{
        display: none !important;
    }
    .hamburger-parent{
      position: relative;
      z-index: 500;
    }
    
    .navbar-child-3{
      height: 0.3rem;
      width: 2rem;
      background-color: black;
      position: relative;
      margin: 1rem 0.3rem ;
      z-index: 500;
      cursor: pointer;
      &::after{
          content: "";
          position: absolute;
          left: 0;
          bottom: -0.6rem;
          background-color: black;
          height: 100%;
          width: 100%;
          transition: background-color .3s ease-in-out, transform .3s ease-in-out, top .3s ease-in-out;
        }
      &::before{
        content: "";
        position: absolute;
        left: 0;
        top: -0.6rem;
        background-color: black;
        height: 100%;
        width: 100%;
        transition: background-color .3s ease-in-out, transform .3s ease-in-out, top .3s ease-in-out;
      }
    }

    .Chat{
      .main{
        &-part-left{
          flex: 1.9;
        }
        &-part-right{
          &-dm-p{
            .main-part-right-dm-msg{
              flex-basis: 90%;
            }
          }
        }
      }
    }

    .navbar-item-cc{
      a{
        font-size: 2.5rem !important;
      }
    }

    #set-footer-in-about{
      margin-top: 3vh;
    }
  }


  @media (max-width: 770px){
    html{
      font-size:62.5%;
      @include modernScrollbar();
      overflow-x: hidden;
    }
   .Home{ 
     padding:2rem 3.5rem 0;
     .main-part-1{
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
     &-left{
       margin-top: 1rem;
       padding: 0 3rem;
       &-buttons{
          display: flex;
          align-items: center;
          justify-content: center;
       }
     }
     &-right{
       padding:0rem 15rem;
       min-width: 70rem;
       max-width: 80rem;
    }
  }
  .main-part-2{
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin-top: 8rem;  
    .main-part-2-left-img{
      transform: translateY(0px);
    }
    &-right{
      justify-content: center;
      align-items: center;
      &-cards{
        padding: 0 3rem;
      }
      
      .main-part-2-right-detail{
        padding: 0 3rem;
        transform: translateY(0);
        clear: left;
      }
      .main-part-2-left-img{
        width: 70%;
        min-width: 40rem;
        height: auto;
      }

      .sec-img{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
 }
   }
  //  .navbar-popup-overlay{
  //    width: 65%;
  //  }
   .Chat{
    .main{
      &-part-left{
        display: none;
      }
      &-part-right{
        &-dm-p{
          .main-part-right-dm-msg{
            flex-basis: 70%;
          }
        }
      }
    }
  }
  .users-button{
    display: flex !important;
    }
  #set-footer-in-about{
    width: 100%;
    padding:5rem 7rem;
    margin-top: 0vh;
  }
  .navbar-item-cc{
    a{
      font-size: 2rem !important;
    }
  }
}

  @media (max-width: 660px){
    .users-temp{
      left: 88% !important;
    }
    .Chat{
      .main{
        &-part-right{
          &-dm-p{
            .main-part-right-dm-msg{
              flex-basis: 80%;
            }
          }
        }
      }
    }
    #set-footer-in-about{
      padding:3rem 3rem;
    }
  }

  @media (max-width:480px){
    html{
      font-size:50%;
      @include modernScrollbar();
      overflow-x: hidden;
    }
  .Home{
    padding:1.5rem 1.5rem 0;
  }
  // .navbar-popup-overlay{
  //   width: 100%;
  // }
  .showUsers{
    width: 100%;
  }
  .users-temp{
    left: 93% !important;
  }
  .navbar-item-cc{
    a{
      font-size: 2.5rem !important;
    }
  }
  #set-footer-in-about{
    padding:5rem 7rem;
    margin-top: 4vh;
  }
  }

  @media (max-width:354px){
    html{
      font-size:45%;
      @include modernScrollbar();
      overflow-x: hidden;
  }
  .main-part-1-left-buttons{
    flex-direction: column-reverse;
    &-button-2{
      margin-bottom: 1rem;
    }
  }
  // .navbar-popup-overlay{
  //   width: 100%;
  // }
  .showUsers{
    width: 100%;
  }
  .users-temp{
    left: 92% !important;
  }
  .Chat{
    .main{
      &-part-right{
        &-dm-p{
          .main-part-right-dm-msg{
            flex-basis: 90%;
          }
        }
      }
    }
  }
  .About{
    height: 93.3vh;
    }
}

  