@import "./variables_and_Function";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-first-color;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
html{
    font-size: 62.5%;
    height:100%;
    scroll-behavior: smooth;
}
body,#root{
    height: 100%;
} 

.Home{
    @include BasicProp();
    @include NAVBAR();
    position: relative;


//Real csss

.main{
  &-part-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5rem 0;
    margin-left: 0; 
    &-left{
        flex: 1;
        &-heading{
            font-size: 5rem;
            line-height: 1.2;
        }
        &-para{
            line-height: 1.5;
            font-size: 1.5rem;
            color: $text-second-color;
            word-wrap: break-word;
            margin-bottom: 2rem;
            margin-top: 0.5rem;
            font-weight: 500;
        } 
        .alert{
            height: 2rem;
        }
        &-buttons{
            display: flex;
            align-items: center;
            &-button-cc{
                font-size: 1.3rem;
                border-radius: 0.8rem;
                font-weight: 700;
                cursor: pointer;
            }
            &-button-1{
                padding: 1rem 3rem;
                margin-right: 2rem;
                background-color: $first-color;
                // background-image: linear-gradient(to top right, $first-color, $gradient-first-color);
                border: none;
                color: white;
                // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                a{
                    color: white;
                }
                &:hover{
                    transition: $transition;
                    box-shadow: none;
                }
            }
            &-button-2{
                padding: 0.9rem 2.9rem;
                margin-right: 2rem;
                background-color: #fff;
                color: $first-color;
                border: solid 1px $first-color;
                &:hover{
                    color: #fff;
                    background-color: $first-color;
                    transition: $transition;
                    i{
                        color: white;
                    }
                }
                i{
                    color: $first-color;
                    margin-right: 0.3rem;  
                  }
            }

        }  
    }
    &-right{
    flex: 1.2;
     &-image{
         float: right;
         width: 100%;
         max-width: 68rem;
     }
    }
  }
&-part-2{
margin-top: 18rem;
margin-bottom: 10rem;
display: flex;
justify-content: space-between;
align-items: center;
   .main-part-2-left-img{
     float: left;
     position: relative;
     z-index: -100;
     width:  60%;   
     max-width: 50rem;
     padding: 5rem;
     transform: translateY(-34px);
   }
&-right{
    &-heading{
        font-size: 5rem;
        line-height: 1.2;
        // width: 100%;
    }
    &-para{
        line-height: 1.5;
        font-size: 1.5rem;
        color: $text-second-color;
        word-wrap: break-word;
        font-weight: 500;
        margin: 2rem 0 4rem;
        // display: block;
        // width: 100%;
    }

    &-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
        grid-gap: 2rem;
        // cursor: pointer;
        margin-top: 4rem;
      &-card-cc{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: 1rem;
          height: 20rem;
          background-color:#F5F5F5;
          border-radius: 1rem;
          position: relative;
          overflow: hidden;
          z-index: 2;
          &-heading-cc{
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            font-size: 2.2rem;
            i{
                flex: 1.9;
                font-size: 5rem;
                color: $cards-second-color;
                //or
                // color: $cards-first-color;
            }
            span{
                color: $cards-second-color;
                //or
                // color: $cards-first-color;
                flex: 1;
            }

          }
          &-button-cc{
            flex: 0 1 auto;
            font-size: 1.3rem;
            border-radius: 0.8rem;
            font-weight: 700;
            cursor: pointer;
            border: none;
            color: white;
            background-color: $cards-second-color;
            width: 10rem;
            height: 3.5rem;
            transition: $transition;
            &:active{
                font-size: 1.5rem;
            }
          }
          &::before{
             content: "";
             position: absolute;
             transform: rotateZ(25deg);
             width: 100%;
             top: 0;
             left: 0;
             height: 100%;
            border-radius: 1rem;
            z-index: -1;
            background-color: $cards-first-color;
            background-image: linear-gradient(315deg, $cards-first-color 0%, #28313b 74%);
            transition: $transition;
            opacity: 0;
          }
          &:hover{
              transition: $transition;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
              h1{
                  i{
                      color: #fff;
                  }
                  span{
                      color: #fff;
                  }
                }
                button{
                    background-color: white;
                    background-image: none;
                    color: $text-first-color;
                    transition: $transition;
                }
                &::before{
                    transform: rotateZ(0deg);
                    opacity: 1;
                }
          }
      }
    }
}
}
}


.no-of-rooms{
        position: fixed;
        left: 0;
        top:0;
        height: 100vh;
        width: 100vw;
        background-color:$popup-bg;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
    &-row{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50rem;
        position: relative;
        flex-wrap: wrap;
        padding: 2.5rem;
        border-radius: 4rem;
        background-color: white;
        &-room-cc{
                cursor: pointer;
                color:white;
                width: 5rem;
                height: 5rem;
                border-radius:50%;
                border: 0.6rem solid #202020;
                background-color: $text-first-color;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.5rem;
                font-size: 1.5rem;
                font-weight: 700;
                i{
                    color: white;
                    font-size: 1.5rem;
                }
            }
        &-closeButton{
           cursor: pointer;
           position: absolute;
           right: 1.5rem;
           top: 1.5rem;
           i{
            color: $text-first-color;
            font-size: 1.5rem;
            padding: 0.2rem 0.5rem;
            // border-radius: 1rem;
            // border: 1px solid white;
            // background-color:#202020 ;
           }
        }
    }
    }

.popup-roomid-input{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$popup-bg;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 123;
    &-bg{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 2.5rem;
        height: 14rem;
        flex-basis: 60rem;
        border-radius: 4rem;
        position: relative;
        &-extra{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            input{
              padding: 1rem 1rem;
              width: 40rem;
              border: 1px solid black;
              border-radius: 4rem;
              flex: 1 1 40rem;
            //   margin-bottom: 2rem;
              &::placeholder{
                  font-size: 1.5rem;
                  color: grey;
              }
              &:focus{
                border: 1px solid black;
                outline: none;
              }
            }
            button{
              margin-left: -3rem;
            //   margin-top: -1.1rem;
              margin-right: 3rem;
              font-size: 2rem;
              background-color: white;
              border: none;
              background-color:transparent;
              cursor: pointer;
            }
        }
    }
}

}

.Chat{
    height: 100%;
    @include modernScrollbar();
    overflow-y: hidden;
    // background-color: yellowgreen;
    background-color: white;
    li{
        list-style: none;
    } 
    a{
        text-decoration: none;
    }
    padding: 1rem 0 0;
    @include NAVBAR();
    display: flex;
    flex-direction: column;


    .roomid{
        display: flex;
        margin-left: auto;
        margin-right: 1rem;
    }
    .chat-navbar{
        margin:1rem
    }
    .main{
        margin-top: 1rem;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex: 1;
        position: relative;
        .users-button{
            position: fixed;
            left: 0;
            top: 50%;
            z-index: 102;
            padding: 0.2rem 0.7rem;
            border-radius: 0 0.9rem 0.9rem 0;
            background-color: white;
            display: none;
            cursor: pointer;
            i{
             font-size: 3rem;
             color: $first-color;
            }
            &:hover{
                background-color: grey;
            }
        }
        &-part-left{
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            flex: 1;
            &-profile{
                background-color: $sendMessageInputColor;
                display: flex;
                padding:1rem;
                padding-right: 0;
                word-break: break-all;
                align-items: center;
                font-size: 1.5rem;
                position: relative;
                    &-img{
                        height: 5rem;
                        width: 5rem;
                        border-radius: 100%;
                        flex-shrink: 0.0000001;
                        overflow:hidden;
                        img{
                            height: auto;
                            width: 5rem;
                        }
                    }
                    h4{
                        margin-left: 1rem;
                        flex-basis: 24rem;
                        font-size: 1.6rem;
                    }
                    span{
                        margin-left: auto;
                        cursor: pointer;
                        flex-shrink: 0.00000001;
                    i{
                        font-size: 2rem;
                        margin-left: 1rem;
                        margin-right: 0.2rem;
                        color: rgb(104, 102, 102);
                        font-weight: 800;
                        display: flex;
                        flex-direction: column;
                        &:after{
                            content: "Leave";
                            font-size: 1rem;
                            color: black;
                            margin-top: 0.3rem;
                            font-family: 'Baloo Bhaijaan 2', cursive;
                            // margin-bottom: 0.3rem;
                        }
                    }
                    }
            }
            &-participants{
                flex: 15;
                &-participant-cc{
                    display: flex;
                    padding:1rem;
                    align-items: center;
                    font-size: 1.5rem;
                    &-img{
                        height: 5rem;
                        width: 5rem;
                        border-radius: 50%;
                    }
                    h4{
                        margin-left: 1rem;
                        font-size: 1.6rem;
                    }
                    &:hover{
                        background-color: $sendMessageInputColor;
                    }
                }
            }

        }
        &-part-right{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex: 3;
            &-dm-p{
                background-image: url("../images/chat-bg-img-1.png");
                background-repeat: repeat;
                background-attachment: fixed;
                // background-image:linear-gradient(to top right, #f8bdc6, $gradient-first-color);
                flex: 1;
                width: 100%;
                overflow: auto;
                padding: 0 3rem;
                .main-part-right-dm{
                    display: flex;
                    &-msg{
                        display: flex;
                        flex-direction: column;
                        padding: 1rem 5rem 1rem 1rem;
                        margin: 0.4rem 0.1rem;
                        flex-basis: 60%;
                        flex-wrap: wrap;
                        word-wrap: break-word;
                        position: relative;
                        align-items: flex-start;
                        background-color: white;
                        border-radius: 1rem;
                        // margin-left: auto;
                        &-name{
                            font-size: 1.7rem;
                            // color: rgb(116, 203, 238);
                            color: rgb(250, 117, 168);
                            font-weight: 500;
                            word-wrap: break-word;
                            word-break: break-all;
                            }
                        &-text{
                        font-size: 1.5rem;
                        }
                        .loadedImg{
                            width: 100% !important;
                            height: auto !important;
                        }
                        &-time{
                            position: absolute;
                            right: 0.5rem;
                            bottom: 0.1rem;
                            font-weight: 300;
                            font-size: 1.1rem;
                            color: $cards-first-color;
                        }
                    }
                    span{
                        flex: 0;
                    }
                }
            }
            &-msgbox{
            background-color:$sendMessageInputColor;
            display: flex;
             width: 100%;
             padding: 2rem 1.5rem;
             &-file{
                all: unset;
                opacity: 1;
                position: relative;
             input{
                 width: 6rem;
                 cursor: pointer;
                 color: $text-second-color;
                 border: none;
                 background-color: $sendMessageInputColor;
                 &:active{
                    background-color: $sendMessageInputColor;
                     border: none;
                     outline: none;
                 }
                 &::before{
                    font-family: "Font Awesome 5 Free";
                     content: "\f1ea";
                     font-size: 2rem;
                     position: absolute;
                     left: 0;
                     top: 0;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 100%;
                     height: 100%;
                     background-color: $sendMessageInputColor;
                     border: 2px solid $sendMessageInputColor;
                 }
             }
             }
             &-typemsg{
                 display: flex;
                 flex-wrap: wrap;
                 justify-content: center;
                 align-items: center;
                 margin:0 0.5rem;
                 height: 4rem;
                 border-radius:5rem;
                 flex:1;
                 font-size: 1.5rem;
                 border: none;
                 padding:0 1rem;
                //  word-wrap: break-word;
                //  word-break: break-all;
                 &::placeholder{
                     color: $text-second-color;
                 }
                 &:focus{
                     border: none;
                     outline: none;
                 }
             }
             &-sendbutton{
                 display: flex;
                 cursor: pointer;
                 justify-content: center;
                 align-items: center;
                 i{
                     color: $text-second-color;
                     font-size: 2rem;
                     transform: rotateZ(45deg);
                 }
             }
            }
        }
    }

}

//ABOUT Section
.About-page{
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}
.About{
    position: relative;
    height: 90vh;
}
.about-heading{
    font-size: 4rem;
    margin-top: 3rem;
}
#about-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(0.5rem);
    left: 0;
}
#set-footer-in-about{
    margin-top: 4vh;
    color: white;
    background-color: $first-color;
    font-size: 2rem;
    width: 80%;
    padding: 9rem 5rem;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#myMsg{
    margin-left: auto !important;
    background-color: $what-app-color !important;
    p:first-child{
        color: rgb(69, 201, 253);
    }
}

.alert{
    font-weight: 700;
    font-size: 1.8rem;
    color: red;
}
.alertForPopup{
    font-weight: 700;
    font-size: 1.8rem;
    color: red;
}

.navbar-popup{
    // transition: $transition;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $popup-bg;
    height: 100vh;
    width: 100vw;
    position: fixed;
    &-bg{
        background-color: white;
        height: 40rem;
        width: 40rem;
        border-radius: 4rem;
        z-index: 100;
        &-msg{
          font-size: 6rem;
        }
    }
}
.noscroll{
    overflow: hidden;
}
.navbar-popup-overlay{
    position: fixed;
    top: 0;
    right: 0;
    // width: 50%;
    width: 320px !important;
    margin-top: 1rem;
    margin-right: 1rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-color:white;
    border-radius: 2rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-top: none;
    border-bottom: none;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
   .navbar-child-2{
     display: flex !important;
     align-items: flex-start;
     flex: 1.5;
     margin-top: 2.5rem;
     cursor: pointer;
   }
   .navbar-items{
     display :flex !important;
     width: 40%;
     align-items: center;
     justify-content: flex-end;
     flex-direction: column;
     flex: 2.5;
     .navbar-item-cc{
        //  margin: 1rem;
         width: 100%;
         text-align: center;
         a{
            cursor: pointer;
            font-size: 2.5rem;
            padding:1.5 0rem;
            width: 100%;
            // border-bottom: 2px solid gray;
            &:hover{
                padding: 0.5rem;
                color: gray;
                font-size: 2rem;
                box-shadow:none;
            }
       }
     }
   }
 }

.showUsers{
    display: flex !important;
    position:absolute;
    background-color: white;
    width: 60%;
    z-index: 100;
}
.users-temp{
    position: absolute !important;
    left: 91% !important;
    top: 42.5% !important;
    background-color: grey !important;
    border-radius: 0.9rem 0 0 0.9rem !important;
}
.navbar-popup-overlay-button-onclick{
visibility: hidden;
&:before{
    visibility: visible;
    margin-top: 0;
    transform: rotate(45deg) translateY(0.85rem);
}
&:after{
    visibility: visible;
    margin-top: 0;
    transform: rotate(-45deg) translateY(-0.85rem);
}
}

.black-overlay{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 50;
}

.userImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


//for responsiveness
@import "./responsive";
